# Kopiér denne fil til .env og udfyld dine værdier.
# .env maa ALDRIG committes til version control.

MAIL_SMTP_SERVER=send.one.com
MAIL_SMTP_PORT=587
MAIL_IMAP_SERVER=imap.one.com
MAIL_IMAP_PORT=993
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ADDRESS=
MAIL_ACTIVE=0
