@model ShiftHub.Models.AccountModel
@{
    ViewData["Title"] = "Opret ny database";
}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4 col-lg-3">
            <div class="sh-login-card">
                <div class="sh-login-title">Administrator Bruger</div>
                <form action="NoDb" method="post">
                    <div class="form-group mb-3">
                        <label asp-for="Username">Brugernavn</label>
                        <input type="text" asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger small"></span>
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="Password">Adgangskode</label>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger small"></span>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Opret</button>
                </form>
            </div>
        </div>
    </div>
</div>