@model ShiftHub.Models.HomeModels

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Slet bruger</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form action="DeleteStaff" method="post">
                    <input type="hidden" asp-for="Staff.StaffId" />

                    <div class="form-group">
                        <label asp-for="Staff.Name">Navn</label>
                        <input asp-for="Staff.Name" class="form-control" readonly />
                        <span asp-validation-for="Staff.Name" class="text-danger small"></span>
                    </div>
                    <div class="sh-danger-zone mt-3">
                        <input type="checkbox" asp-for="Staff.Notification" class="form-check-input" id="NotificationId" />
                        <label asp-for="Staff.Notification" class="form-check-label">Bekræft sletning</label>
                        <span asp-validation-for="Staff.Notification" class="text-danger small"></span>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk</button>
                <button type="button" class="btn btn-danger" data-bs-save="modal" id="DeleteId" disabled>Slet</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById("NotificationId").onchange = function () { DeleteFunction() }

    function DeleteFunction() {
        var DeleteValue = document.getElementById("NotificationId").checked;

        if (DeleteValue == true) {
            document.getElementById("DeleteId").disabled = false;
        } else {
            document.getElementById("DeleteId").disabled = true;
        }
    }

</script>