@model ShiftHub.Models.HomeModels

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Inport brugere</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form action="InportStaff" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <input asp-for="Inport.File" accept=".csv" class="form-control" onchange="CheckImport()" id="fileId" />
                        <span asp-validation-for="Inport.File" class="text-danger"></span>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="inportId" disabled>Inport</button>
                    <a href="../files/InportStaffTemplate.csv" class="btn btn-outline-primary" target="_blank">Kladde</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function CheckImport() {
        if (document.getElementById("fileId").value != '') {
            document.getElementById("inportId").disabled = false;
        } else {
            document.getElementById("inportId").disabled = true;
        }
    }

</script>