<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tilføj element</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <table width="100%">
                    <tr>
                        <td align="center" valign="middle">
                            <button class="btn lightButton" onclick="formAddText()" title="Tekst element">
                                <i class="bi bi-card-text sh-icon-xl"></i>
                            </button>
                        </td>
                        <td align="center" valign="middle">
                            <button class="btn lightButton" onclick="formAddLink()" title="Link element">
                                <i class="bi bi-link-45deg sh-icon-xl"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle" class="sh-form-label-sm">
                            <i>Tekst</i>
                        </td>
                        <td align="center" valign="middle" class="sh-form-label-sm">
                            <i>Link</i>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" height="10px"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>