@model ShiftHub.Models.HomeModels

<div class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bekræft</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <table width="100%">
                    <tr>
                        <td align="center">
                            <font style="font-size: 18px;">@Model.Data.aTable.Rows[0]["Name"]</font>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="checkOut()" id="checkOutId">CheckOut</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function checkOut() {
        var PlaceHolderElement = $('#PopUpPlaceholder');
        var staffId = '@Model.Data.aTable.Rows[0]["Id"]';

        $.ajax({
            type: 'POST',
            url: "/Home/_SubPostStaffCheckOut",
            data: { StaffId: staffId }
        }).done(function (returned) {
            document.getElementById('Staff_' + staffId).remove();

            PlaceHolderElement.find('.modal').modal('hide');

            updateStaffs('once');
        });
    }

</script>