@model ShiftHub.Models.AdminModels

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rediger Gruppe</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form action="EditGroup" method="post">
                    <input type="hidden" asp-for="Group.GroupId" />

                    <div class="form-group">
                        <label asp-for="Group.InChargeId">Ansvarlig</label>
                        <select asp-for="Group.InChargeId" class="form-control">
                            @foreach (System.Data.DataRow row in Model.Data.aTable.Rows)
                            {
                                <option value="@row["Id"].ToString()">@row["DisplayName"].ToString()</option>
                            }
                        </select>
                        <span asp-validation-for="Group.InChargeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Group.Name">Navn</label>
                        <input asp-for="Group.Name" onchange="vSave()" class="form-control" id="NameId" />
                        <span asp-validation-for="Group.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Group.Note">Note</label>
                        <textarea asp-for="Group.Note" rows="4" class="form-control"></textarea>
                        <span asp-validation-for="Group.Note" class="text-danger"></span>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-save="modal" id="AddId">Gem</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function vSave() {
        var NameValue = document.getElementById("NameId").value;

        if (NameValue != "") {
            document.getElementById("AddId").disabled = false;
        } else {
            document.getElementById("AddId").disabled = true;
        }
    }

</script>